body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/*Header Navigation*/

.inline-block {
    display: inline-block;
    vertical-align: middle;
    text-align: middle;
    margin-top: 20px;
    margin-left: 550px;
    width: auto;
}

.inline-block ul li {
    display: inline-block;
    margin-right: 50px;
    vertical-align: middle;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    margin-left: 80px;
}

.logo img {
    width: 80%;
}

nav {
    display: inline-block;
    width: calc(100% - 10% - 40px);
    padding: 1%;
    margin-left: 100px;
}

ul {
    margin: 0;
    padding: 0;
}

/*Hero Space*/

.heroText {
    height: 600px;
    padding: 25px;
}

.heroText h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.green {
    color: #346E39;
}

.content {
    width: 700px;
    padding: 0;
    margin-left: 145px;
    margin-top: 170px;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

/*Arrow Animation*/

.arrow {
    text-align: center;
}

.arrow img {
    width: 200px;
    padding: 0;
    transition: opacity 5s ease;
}

.bounce {
    animation: bounceArrow .7s infinite
}

.hidden {
    opacity: 0;
    pointer-events: none;
  }

@keyframes bounceArrow {
    from {
      margin-top: 0px;
    }
  
    50% {
      margin-top: 7px;
    }
  
    to {
      margin-top: 0px;
    }
  }

/*About Section*/

.aboutMe {
    display: inline-block;
    margin: 187px 158px;
    border-style: solid;
    border-radius: 20px;
    padding: 28px 50px 28px 50px;
    vertical-align: middle;
    height: 40%;
    width: 75%;
}

.profile {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    padding: 0px;
}

#profilePic {
    display: inline-block;
    text-align: center;
    width: 37%;
    margin: auto;
}

#profilePic img {
    width: 150px;
    margin: 0px;
    padding: 0px;
}

#profilePic h3 {
    font-size: 48px;
    margin: auto;
}

.profile p {
    display: inline-block;
    width: 55%;
    height: 77%;
    margin: auto;
    padding-left: 60px;
    font-size: 20px;
}

/*Skills Section*/

h3 {
    font-size: 48px;
    margin: 0px 0px 90px 158px;
    padding: 0;
}

.flexContainer {
    display: flex;
    padding: 0;
    margin: 0px 60px 187px 158px;
    justify-content: space-between;
}

.skillCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 30%;
}

.skillCard img {
    width: 200px;
    margin: auto;
}

h5 {
    font-size: 32px;
    color: #346E39;
}

.skillCard p {
    font-size: 18px;
}

/*Portfolio Section*/

#myPortfolio {
    display: grid;
    grid-template-rows: max-content 3fr 3fr 3fr max-content;
    row-gap: 100px;
    margin-left: 158px;
    margin-bottom: 187px;
    padding: 0;
}

.projectCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    margin: 0;
}

.projectDetails {
    align-items: center;
    margin-right: 75px;
    align-content: center;
}

#myPortfolio h3 {
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 40px;
}

.projectDetails p {
    font-size: 24px;
    margin-right: 65px;
}

.projectCard img {
    width: 468px;
    height: 369px;
    margin: 0;
    padding: 0;
    object-fit: scale-down;
}

.pivot h4 {
    margin-top: 55px;
}

.projectDetails button {
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    color: #346E39;
    font-size: 24px;
    width: 255px;
    height: 70px;
    display: inline-block;
}

.projectDetails img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 25px;
    margin-left: 10px;
}

/*Footer*/

footer {
    text-align: left;
    width: 98%;
    padding: 1%;
}

footer p,
footer ul {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 1%;
}

footer ul {
    padding-left: 0;
}

footer ul li {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    margin-left: 0px;
    margin-right: 40px;
    font-size: 18px;
}

footer p {
    font-weight: bold;
    font-size: 24px;
    margin-right: 615px;
    margin-left: 35px;
}

/*Responsive Design*/

@media screen and (max-width: 600) {
    .flexContainer {
        flex-direction: column;
    }
}